@import './variables.scss';

html, body {
    box-sizing: border-box;
}

abbr {
    font-family: Roboto;
    text-align: center;
}

.react-calendar__month-view__weekdays__weekday{
    text-align:center
}

.react-calendar__tile  {
    border-radius: 0px;
    border: 1px solid $ss-orange;
    background-color: transparent;


    color: $ss-black;

    box-sizing: border-box;
}

.react-calendar__navigation__arrow {

}

.react-calendar__navigation__label {
    margin-bottom: 25px;
}

.react-calendar__month-view__days {

}